/* Admonition styles, add the color to the title */
.md-typeset :is(.note)> :is(.admonition-title,
    summary) {
    color: #448aff;
}

.md-typeset :is(.abstract,
    .summary,
    .tldr)> :is(.admonition-title,
    summary) {
    color: #00b0ff;
}

.md-typeset :is(.info,
    .todo)> :is(.admonition-title,
    summary) {
    color: #00b8d4;
}

.md-typeset :is(.tip,
    .hint,
    .important)> :is(.admonition-title,
    summary) {
    color: #00bfa5;
}

.md-typeset :is(.success,
    .check,
    .done)> :is(.admonition-title,
    summary) {
    color: #00c853;
}

.md-typeset :is(.question,
    .help,
    .faq)> :is(.admonition-title,
    summary) {
    color: #64dd17;
}

.md-typeset :is(.warning,
    .caution,
    .attention)> :is(.admonition-title,
    summary) {
    color: #ff9100;
}

.md-typeset :is(.failure,
    .fail,
    .missing)> :is(.admonition-title,
    summary) {
    color: #ff5252;
}

.md-typeset :is(.danger,
    .error)> :is(.admonition-title,
    summary) {
    color: #ff1744;
}

.md-typeset :is(.bug)> :is(.admonition-title,
    summary) {
    color: #f50057;
}

.md-typeset :is(.example)> :is(.admonition-title,
    summary) {
    color: #7c4dff;
}

.md-typeset :is(.quote,
    .cite)> :is(.admonition-title,
    summary) {
    color: #9e9e9e;
}

